<ion-header>
  <ion-toolbar>
    <ion-button class="back_button" slot="start" href="/login">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div>
        <ion-label>Ingresa tu nombre de usuario o contraseña antigua</ion-label>
        <ion-input type="text" [(ngModel)]="usuarioOContrasenaAntigua" required></ion-input>
      </div>
      <div>
        <ion-label>Nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="nuevaContrasena" required></ion-input>
      </div>
      <ion-buttons>
        <ion-button expand="full" (click)="cambiarContrasena()">Enviar</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
