<ion-header>
  <ion-toolbar>
    <ion-title>restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-content>
      <div>
      <ion-label>Ingresa tu correo electronico para restablecer tu contraseña</ion-label>
    </div>
      <div>
      <ion-input type="email" placeholder="contacto@gmail.com"></ion-input>
    </div>
      <ion-buttons>
        <ion-button expand="full" (click)="mostrarModal()">Enviar</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
