ion-content {
    position: relative;
    --background: #b7bcca; /* Fondo gris claro */
    color: #000000; /* Color de texto oscuro */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    padding: 0;
  }
  ion-toolbar {
    text-transform: uppercase;
    --background: #b7bcca; 
    color: #000000; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  ion-card{
    --background:#ffffff;
    color:#000000;
    box-shadow: 2px 2px 5px #000000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  ion-input{
    text-decoration:underline;
  }

  ion-buttons{
    background-color: #b7bcca;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div{
    margin:20px;
  }

  .back_button{
    --background: transparent;
    --color:#000000;
  }
  