<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nombre Completo</mat-label>
    <input matInput formControlName="nombre" required>
    <mat-error *ngIf="contactForm.get('nombre')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo Electrónico</mat-label>
    <input matInput formControlName="correo" required>
    <mat-error *ngIf="contactForm.get('correo')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
    <mat-error *ngIf="contactForm.get('correo')?.hasError('email')">
      Ingrese un correo válido
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tu mensaje</mat-label>
    <input matInput formControlName="mensaje" required>
    <mat-error *ngIf="contactForm.get('mensaje')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">
    Enviar
  </button>
</form>
