<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button routerLink="/home"><ion-icon name="home"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-title>{{ product?.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="product">
  <ion-card>
    <img [src]="product.imagen" alt="{{ product.nombre }}" />
    <ion-card-header>
      <ion-card-title>{{ product.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ product.precio | currency:'':'symbol':'1.0-0' }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Descripción: {{ product.descripcion }}</p>
      <p> categoria: {{product.categoria }} </p>
      

      <ion-button (click)="agregarAlCarrito()" color="primary">
        Agregar al carrito
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


