<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>Precio: {{ item.price | currency }}</p>
        <p>Cantidad: {{ item.cantidad }}</p>
      </ion-label>
      <ion-button color="danger" (click)="removeFromCart(item.id)">Eliminar</ion-button>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Total: {{ total | currency }}</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
