ion-fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
  }
  
  ion-content {
    --background: #fff;
    color: #000;
  }
  
  ion-list {
    background: #fff;
  }
  
  ion-item {
    --background: #fff;
    color: #000;
  }
  
  .validpass {
    color: red;
  }