<ion-header>
  <ion-toolbar>
    <ion-title>Editar Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="guardarCambios()">Guardar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="guardarCambios()">
    <ion-item>
      <ion-label position="stacked">Nombre del Producto</ion-label>
      <ion-input type="text" [(ngModel)]="nombreProducto" name="nombre" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="descripcion" name="descripcion" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="precio" name="precio" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="cantidad" name="cantidad" required></ion-input>
    </ion-item>
  </form>
</ion-content>
