<ion-header>
  <ion-toolbar>
    <ion-title>Ingreso a tienda</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h3>Inicio de Sesión</h3>
  <form (ngSubmit)="ingresar()" #loginForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input [(ngModel)]="user.usuario" name="username" required>
        <ion-icon slot="end" name="person"></ion-icon>
      </ion-input>
  </ion-item>
  
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="user.password" name="password" required>
        <ion-icon slot="end" name="lock-closed"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item *ngIf="!passwordValid" lines="none" color="danger">
      <ion-label class="validpass" color="danger">La contraseña debe tener al menos 4 números, 3 caracteres y 1 mayúscula.</ion-label>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!loginForm.form.valid">Iniciar Sesión</ion-button><br>
    
    <a class="crear" routerLink="/create-user"><strong>crear cuenta</strong></a><br>
    <a class="crear" routerLink="/restablecer"><strong>Olvidates tu contraseña</strong></a>
  </form>
</div>
</ion-content>

