<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <!-- Card del producto -->
      <ion-card class="producto-card">
        
        <!-- Imagen del producto -->
        <ion-img [src]="producto.imagen" alt="{{ producto.nombre }}" class="producto-img"></ion-img>

        <ion-card-header>
          <ion-card-title class="producto-nombre">{{ producto.nombre }}</ion-card-title>
          <ion-card-subtitle class="producto-precio">{{ producto.precio | currency:'':'symbol':'1.0-0' }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <div class="acciones">
            <ion-button color="danger" expand="full" (click)="onDeleteProduct(producto.id)">
              Eliminar
            </ion-button>
            <ion-button  expand="full" (click)="editarProducto(producto.id)">
              Editar
            </ion-button>
          </div>
        </ion-card-content>

      </ion-card>
    </ion-item>
  </ion-list>

  <ng-template #noProducts>
    <ion-item>
      <ion-label>No hay productos disponibles</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
