<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="productos.length > 0">
    <ion-item *ngFor="let product of productos">
      <ion-label>
        <h2>{{ product.nombreProducto }}</h2>
      </ion-label><ion-button (click)="editProduct(product)">editar</ion-button>
      <ion-button  (click)="deleteProduct(product.nombreProducto)">eliminar</ion-button>

    </ion-item>
  </ion-list>
  <ion-item *ngIf="productos.length === 0">
    <ion-label>No hay productos disponibles.</ion-label>
  </ion-item>
</ion-content>