ion-content {
    position: relative;
    --background: #b7bcca; /* Fondo gris claro */
    color: #000000; /* Color de texto oscuro */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    padding: 0;
  }
  form{
    background:transparent;
    color: #ffffff;
    padding: 30px;
    margin: 40px;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 15px;
  }
  ion-item{
    color: #ffffff;
    border-radius: 20px;
    margin-top: 10px;
  }
  ion-toolbar {
    text-transform: uppercase;
    --background: #b7bcca; 
    color: #000000; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  ion-title{
    text-align: center;
    color: #000000;
  }
  .back_button{
    --background: transparent;
  }
  .login_button{
    --background:#b7bcca;
    color:#000000;
    box-shadow: 2px 2px 5px #000000;
    margin-right: 100px;
    margin-left: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  ion-icon{
    color:rgb(0, 0, 0);
  }


