ion-content {
    position: relative;
    --background: #b7bcca; /* Fondo gris claro */
    color: #000000; /* Color de texto oscuro */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    padding: 0;
  }
  form{
    background:transparent;
    color: #000000;
    padding: 30px;
    margin: 40px;
    box-shadow: 2px 2px 5px #000000;
    border-radius: 15px;
  }
  ion-item{
    color: #ffffff;
    border-radius: 20px;
    margin-top: 10px;
  }
  ion-toolbar {
    text-transform: uppercase;
    --background: #b7bcca; 
    color: #000000; /* Color de texto blanco */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  ion-title{
    text-align: center;
    color: #000000;
  }
  .back_button{
    --background: transparent;
  }
  .login_button{
    --background:#b7bcca;
    box-shadow: 2px 2px 5px #000000;
    margin-right: 100px;
    margin-left: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  ion-icon{
    color:rgb(0, 0, 0);
  }
//date//

  ion-datetime {
    --background: rgb(245, 235, 247);
    --background-rgb: 245, 235, 247;
    --wheel-highlight-background: rgb(218, 216, 255);
    --wheel-highlight-border-radius: 48px;
    --wheel-fade-background-rgb: 245, 235, 247;
    width: 100%;
    height: auto;
  }

ion-col{
  background-color: #b7bcca;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 1px 1px 5px #000000;
  border-radius: 20px;
  
}