<ion-header>
  <ion-toolbar>
    <ion-button class="back_button" slot="start" href="/login">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Creación de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Creamos el formulario -->
  <form>
    <ion-item>
      <ion-input type="text" placeholder="Nombre de usuario" [(ngModel)]="usuario" name="usuario" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"  name="password" required></ion-input>
    </ion-item>
  </form>
  
  <!-- Botón para crear el usuario -->
  <ion-button class="login_button" (click)="createUser()">Crear</ion-button>
</ion-content>
