ion-content {
    position: relative;
    --background: #b7bcca; 
    color: #000000; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    padding: 0;
  }
  
ion-footer{
  background-color: rgb(72, 72, 78);
 }

.tab_nav{
    --background:#b7bcca;
    color: #000000;
}