<ion-app>
  <ion-menu side="end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Categorías</ion-title>
      </ion-toolbar>
    </ion-header>
    <!--Aqui van las categorias que integraremos-->
    <ion-content class="ion-padding">
      <ion-buttons>
        <ion-list>
          <ion-item>
            <ion-button  href="/contacto">CONTACTO</ion-button>
          </ion-item>
        </ion-list>
      </ion-buttons>

    </ion-content>
    <!--integración de boton para poder volver a login-->
    <ion-footer>
      <ion-buttons>
        <ion-button expand="full" (click)="presentLogoutConfirmation()">Cerrar Sesión
        </ion-button>
      </ion-buttons>
    </ion-footer>
  </ion-menu>
  <!------------------------------------------------------------------------------->
<div class="ion-page" id="main-content">
  <ion-content class="ion-padding"> </ion-content>

</div>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
