<ion-app>
  <!-- Menú Lateral -->
  <ion-menu side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <!-- Enlaces a las páginas -->
        <ion-item routerLink="/home">Inicio</ion-item>
        <ion-item routerLink="/mujer">Mujer</ion-item>
        <ion-item routerLink="/hombre">Hombre</ion-item>
        <ion-item routerLink="/tecnologia"></ion-item>
        <ion-item routerLink="/hogar"></ion-item>
       
      </ion-list>
    </ion-content>

    <!-- Integración de botón para poder volver a login -->
    <ion-footer>
      <ion-buttons>
        <ion-button expand="full" (click)="presentLogoutConfirmation()">Cerrar Sesión</ion-button>
      </ion-buttons>
    </ion-footer>
  </ion-menu>

  <!-- Contenido Principal -->
  <div class="ion-page" id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>