<ion-header>
  <ion-toolbar>
    <ion-title class="header-title">Mi Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" color="secondary"><ion-icon name="home"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <div  class="avatar-wrapper" (click)="openEditPhotoModal()">
      <ion-avatar class="profile-avatar">
        <img [src]="profilePhoto || '../assets/photos/perfil.jpg'" alt="Foto de perfil">
      </ion-avatar>
    </div>
    <h2>{{ username }}</h2>
    <p>Contraseña: ******</p>
  </div>
  <ion-button expand="full" color="danger" *ngIf="profilePhoto" (click)="deleteProfilePhoto()">Eliminar Foto de Perfil</ion-button>
  <ion-button expand="full" (click)="openEditUsernameModal()">Cambiar Nombre de Usuario</ion-button>
  <ion-button expand="full" color="secondary" (click)="openEditPasswordModal()">Cambiar Contraseña</ion-button>
</ion-content>
