<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Nuevo Producto </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="nombreProducto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input type="number"  [(ngModel)]="precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" >Descripción</ion-label>
      <ion-input type="text"  [(ngModel)]="descripcion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number"  [(ngModel)]="cantidad"></ion-input>
    </ion-item>
    <ion-button type="submit" (click)="agregarProducto()">Agregar producto</ion-button>
  </form>
</ion-content>
