<ion-header id="main-content">
  <ion-toolbar>
    <ion-title>Bienvenido {{ nombreUsuario }}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Barra  -->
  <ion-item lines="none">
    <ion-searchbar 
      animated="true" 
      placeholder="Buscar" 
      style="flex: 1; --padding-start: 0; --padding-end: 0; --background: #f0f0f0;" 
    ></ion-searchbar>
    <ion-button 
      fill="clear" 
     
      style="margin-left: 10px;">
      <ion-icon slot="icon-only" name="person-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Slider de imágenes -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of banners">
        <img [src]="img" style="height: 270px; width: 100%; object-fit: cover; margin-top:10px">
      </div>
    </div>
  </div>
  
  

  <h1 class="fav"><strong>Productos más vistos</strong></h1>
  <ion-grid>
    <ion-row>
      
   <!--aqui estamos inyectando los productos que rescatamos del json-->
  <ion-col size="6" size-md="6" size-lg="4" *ngFor="let producto of productos">
  <ion-card  >
    <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
    <ion-card-header>
      <ion-card-title>{{ producto.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>${{ producto.precio }}</p>
            <ion-button class="btn" color="success" [routerLink]="['/detalle-producto']" [queryParams]="{ id: producto.id }">Ver detalles</ion-button>
            <ion-button class="btn" color="primary" (click)="agregarAlCarrito(producto)" [queryParams]="{ nombre: producto.nombre }" >Agregar al carrito</ion-button>

      
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
</ion-grid>


  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="success" (click)="openWhatsApp()">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab  class="wsp" slot="fixed" vertical="bottom" horizontal="end" (click)="animateCartButton()" id="cartButton">
    <ion-fab-button href="/carro">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-footer>
    <div class="map-container">
      <h2>¿Dónde ubicarnos?</h2>
      <p>Dirección: Duoc UC Sede Plaza Norte, Santa Elena de Huechuraba S/N</p>
      <capacitor-google-map id="map" style="height: 200px; width: 100%;"></capacitor-google-map>
    </div>
  </ion-footer>
</ion-content>