<ion-header id="main-content">
  <ion-toolbar>
    <ion-title *ngIf="data"><strong>Bienvenido {{ data.usuario }}</strong></ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

   <!-- Barra  -->
   <ion-item lines="none">
    <ion-searchbar 
      animated="true" 
      placeholder="Buscar" 
      style="flex: 1; --padding-start: 0; --padding-end: 0; --background: #f0f0f0;" 
    ></ion-searchbar>
    <ion-button 
      fill="clear" 
      (click)="toggleLoginMenu()" 
      style="margin-left: 10px;">
      <ion-icon slot="icon-only" name="person-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Slider de imágenes -->
  <swiper-container [options]="slideOptions">
    <swiper-slide *ngFor="let img of banners">
      <img [src]="img" class="d-block w-100" alt="..." style="height: 270px; border-radius: 1rem !important;">
    </swiper-slide>
    <div class="swiper-pagination"></div> <!-- Paginación -->
    <div class="swiper-button-next"></div> <!-- Botón siguiente -->
    <div class="swiper-button-prev"></div> <!-- Botón anterior -->
  </swiper-container>

  <h1 class="fav"><strong>FAVORITOS DE LOS USUARIOS</strong></h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="6" size-lg="4" *ngFor="let product of products">
        <ion-card>
          <img [src]="product.image" alt="{{ product.name }}">
          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ product.description }}</p>
            <ion-badge color="primary">${{ product.price }}</ion-badge>
            <ion-button color="success" [routerLink]="['/product-detail']" [queryParams]="{ id: product.id }">Ver detalles</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button href="/carro">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
