ion-toolbar {
    text-transform: uppercase;
    --background: #e5e8f0; 
    color: #000000; 
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  ion-content{
    --background: 'transparent';
    color: #000000;
  }

  img{
    margin-top: 20px;
    border-radius: 10%;
    width: 80%;
    height: 50%;
  }


  ion-card{
    display:flexbox;
    justify-content: flex-end;
    text-align: center;
    --background:#e5e8f0;
    color: #000000;
    font-size: 10px;
    border: 1px #000000;
    border-radius: 30px;
    height: 450px;
    overflow: hidden;
    --transition: height .5s;
    --interpolate-size: allow-keywords;
  }


  ion-card-title{
    color: #000000;
  }
  .fav{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #e5e8f0;
    color:#373333;
    font-family: sans-serif;
    margin: auto;
    margin-top: 20px;
    width: 300px;
    box-shadow: 1px 1px 1px 1px #848181;
    font-size: 20px;
    border-radius: 20px;
  }

swiper-container {
  margin-top: 10px;
  height: auto;
  img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}
  }
  swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-footer {
    --background: 'transparent';
  }
  capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 200px;
  }


  .map-container {
    padding: 16px;
    text-align: center;
  }
  
  .map-container h2 {
    margin: 0 0 8px;
  }
  
  .map-container p {
    margin: 0 0 16px;
  }

  .wsp{
    --background: #25D366; /* Color verde de WhatsApp */
    --border-radius: 50%;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  ion-badge{
    background-color: #ffe7e7;
    color: #000000;
  }

  .btn{
    padding: auto;
    margin: auto;
    font-size: 10px;
    width: 100%;    
    height: 40px;
  }